# BASE DE DATOS (Neon / Postgres)
DATABASE_URL="postgresql://neondb_owner:npg_Z6E1IXYWhrmA@ep-sparkling-band-ahyha3qx-pooler.c-3.us-east-1.aws.neon-tech/neondb?sslmode=require"

# CINE (TMDB)
TMDB_API_KEY="664418797839f0cc2f8e6283a8882822"
TMDB_BEARER_TOKEN="eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI2NjQ0MTg3OTc4MzlmMGNjMmY4ZTYyODNhODg4MjgyMiIsIm5iZiI6MTc3NzQ1MjA3Mi45MDMsInN1YiI6IjY5ZjFjNDI4NDM5MDVjNGMzM2ZjNzZjZiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.almvRvrxEpl_a-Gg8TjkCd73NGkaSf1ij3QOwTIdRMw"

# VIDEOJUEGOS (Twitch / IGDB)
TWITCH_CLIENT_ID="21wbpbj4d2goqa77qh0awj59f3l6oq"
TWITCH_CLIENT_SECRET="vu9io93wzrblonbb86lvqiyb9kopog"