# BASE DE DATOS (Neon / Postgres)
DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"

# CINE (TMDB)
TMDB_BEARER_TOKEN="eyJhbGciOiJIUzI1NiJ9.tu_token_larguisimo_aqui..."

# VIDEOJUEGOS (Twitch / IGDB)
TWITCH_CLIENT_ID="tu_client_id_de_twitch"
TWITCH_CLIENT_SECRET="tu_client_secret_de_twitch"