---
import Layout from '../layouts/Layout.astro';
import ChatButton from '../components/chat/ChatButton';
import RegisterBtn from '../components/register/RegisterBtn';
---

<Layout>
	<div class="fixed top-4 left-4 z-50">
		<RegisterBtn client:load />
	</div>
	<ChatButton client:load />
</Layout>
